<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p><h3>Hello <%= @user %></h3></p>
<p>
  You Have been invited to a Project on MiniPivotal!!
  You can sign in with your exisiting account to view the newly added project.
  You can open the link to sign in... <%= @url %>
</p>

</body>
</html>