/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input
 *= require bootstrap
 *= require_tree .
 */

/*.nav-color{*/
/*background: #364791 !important;*/
/*}*/
/*.navbar-inverse .brand {*/
/*color: #ffffff !important;*/
/*}*/
/*.navbar-inverse .brand, .navbar-inverse .nav>li>a{*/
/*color: #ffffff !important;*/
/*}*/
.title{
    padding-left: 420px;
    margin-top: 0px;
}
.proj-description textarea{
    margin: 5px 20px 30px !important;
    width: 206px;
    height: 80px;
}
.projSubmit{
    margin-left: 250px;
    margin-top: 15px;
}
.projectList-inner span{

}
.memberList label{
    padding-left: 86px;
}
.memberList textarea{
    margin-top: -45px;
    margin-left: 180px;
}
.memberList ul{
margin-top: -30px;
margin-left: 180px;
width: 218px;
}

.projectList-outer{
    margin-top: 15px;
    position: relative;
}
.projLink{
    color: #fbfbfb !important;
}
.user-mail{
    margin-top: 8px;
    margin-right: 4px;
    font-size: 16px;
    font-style: oblique;
}
